@import url('https://fonts.googleapis.com/css?family=Battambang&display=swap');
body {
    background: #f7f7f7;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #222;
    font-family: "Battambang";
}

.wrapper {
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

.sec-header {
    background: #da0000;
    margin: 0 auto;
}
.container-fluid{
  width: 1600px;
  margin: 0 auto;
  padding: 0;
}

.navbar-nav ul {
    margin-left: -20px;
}

.navbar-nav li {
    padding: 0 5px;
    display: inline-block;
    text-align: left;
    margin: 0 0px;
}

.navbar-nav li a {
    font-size: 18px;
    color: white;
    padding: 2px 2px;
    transition: all 0.2s;
    font-family: "Battambang";
}

.navbar-nav li a:hover {
    text-decoration: none;
    border-bottom: 1px solid #fff;
}


.navbar-brand img {
    padding: -5px;
}
.banner-ads{
    margin: 0 auto;
    padding: 0;
    width: 100%;   
}
.banner-ads img{
    width: 1600px;
    margin: 5px 0;
}
.slide-news{
    display: flex;
    padding: 10px 10px;
    margin: 0 auto;
    flex-direction: row;

}
.news-left{
    flex: 1;
    flex-wrap: wrap;
}
.news-right{
    flex: 1;
    margin-left: 10px;
    flex-wrap: wrap;
}
.box-news{
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    object-fit: cover;
    display: flex;
    align-items: flex-end;
    border-radius: 3px;
}
.box-news a{
    text-decoration: none;
}
.box-news a:hover {
    text-decoration: none;
    color: #da0000;
}
.box-news h3{
    font-size: 20px;
    background: rgba(0, 0, 0, 0.4 );
    padding: 10px 10px;
    color: #fff;
    text-decoration: none;

}
.box-news h4{
    font-size: 15px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 10px;
    line-height: 24px;
}
.news-right-top img{
    object-fit: cover;
}
.news-right-bottom{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.news-right-bottom-left{
    flex: 1;
    margin-right: 10px;
}
.news-right-bottom-right{
    flex: 1;
}
/* Content */
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 10px;
}
.ads-side{
    flex: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 160px;
}
.ads-side img{
    width: 150px;
    object-fit: cover;
    padding-bottom: 10px;
}
.main{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 5;
    margin: 0 10px;
}
.articles{
    flex: 4;
    flex-wrap: wrap;
    margin-right: 10px;
}
/* Blog News */
.blog-news{
    display: flex;
    flex-direction: row;
}
.blog-news-header{
    flex: 6;
    flex-wrap: wrap;
    border-bottom: 3px solid #da0000;
}
.blog-news-header button{
    background: #da0000;
    display: inline-block;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
}
/*Blog news Content*/
.blog-news-content{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
.blog-news-conent-left{
    flex: 1;
    flex-direction: column;
}
.blog-news-conent-right{
   flex: 1;
   display: flex;
   flex-direction: column;
   margin-left: 10px;
}
.small-thumbnails{
    flex: 1;
    padding-bottom: 10px;
}
.small-thumbnails img{
    width: 200px;
    height: 110px;
    margin-right: 5px;
    box-sizing: border-box;
    object-fit: cover;
    border-radius: 3px;
}
.small-thumbnails h3{
    font-size: 14px;
    padding: 0 10px;
    flex-wrap: wrap;
    line-height: 20px;
    color: #222;
    font-family: "Battambang";
}
.small-news-title{
    flex: 1;
}
.blog-news-title{
    flex: 1;
}
.blog-news-title span{
    padding: 0 0px;
}
.blog-news-title h3{
    padding: 0px 0px;
    font-size: 16px;
    color: #222;
    font-family: "Battambang";
    line-height: 22px;
}
.thumbnails{
    flex: 1;
}
.thumbnails img{
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
}
span.date-time{
    color: #ccc;
}
/* Advertise side */
.advertise{
    flex: 2;
}
.app{
    display: flex;
    flex-direction: row;
}
.app img{
    width: 100%;
}
.playstore{
    flex: 1;
    margin-right: 10px;
}
.appstore{
    flex: 1;
}
.ads{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.ads img{
    width: 100%;
    padding-bottom: 10px;
}

/* Popular */
.popular{
    display: flex;
    flex-direction: column;
}
.popular-title{
    border-bottom: 2px solid #da0000;
}
.popular-title button{
    background: #da0000;
    color: #fff;
    padding: 5px 10px;
    border: none;
    outline: none;
}
.popular-list{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.popular-list img{
    width: 160px;
    height: 90px;
    margin-right: 10px;
    border-radius: 2px;
    padding: 5px 0;
}
.popular-list h3{
    font-size: 13px;
    color: #222;
    font-family: "Battambang";
    line-height: 20px;
}
.popular-list span{
    color: #ccc;
    margin-top: -3px;
}
/* Detail */
.detail-news{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.detail-news-item{
    width: 415px;
    padding: 10px 0;
}
.detail-news-item img{
    height: 200px;
}
footer {
    background: #eb2504;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 130px;
}
.my-footer{
    width: 1200px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;   
}
.footer-blog{
    flex: 1;
    flex-wrap: wrap;
    margin-right: 10px;
}
.footer-label{
    flex: 1;
    flex-direction: column;
    padding: 8px 0;
}
.footer-label img{
    width: 350px;
    border-radius: 3px;
}
.footer-label span{
    display: block;
    color: #ffd;
    padding: 3px 0px;
    font-size: 12px;
}
label.label-title{
    color: #fff;
    font-size: 18px;
    font-weight: 600px;
    padding: 10px 0 ;
    font-family: "Battambang";
}
.footer-blog ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-blog ul li{
    border-bottom: 1px dotted white;
    padding: 3px 0;
    display: block;
    font-family: "FontAwesome";
}
.footer-blog ul li:before{
    content: "\f105";
    margin-left: 1px;
    margin-right: 9px;
    color: #fff;
}
.footer-blog ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.trending-news{
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-bottom: -10px;
}
.trending-news-title button{
    border: none;
    outline: none;
    background: #da0000;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    font-family: "Battambang";
    color: #fff;
    text-transform: uppercase;
    border-radius: 2px;
}
.trending-news-list{
    flex: 1;
    justify-content: center;
    justify-items: center;
    padding-top: 10px;
}
.trending-news-list marquee{
    color: #777;
}
.fix-ads {
    position: absolute !important;
    z-index: 9999;
}

.banner {
    position: absolute;
}

.banner img {
    width: 130px;
    margin-left: 8px;
    display: block;
    margin-bottom: 10px;
}
.ads-article{
    flex: 1;
    flex-wrap: wrap;
}
.ads-article img{
    height: 100px;
}
.headline h3{
    font-size: 16px;
    font-family: "Battambang";
    font-weight: bold;
    color: #222;
    padding-top: 20px;
}
.release-date{
    padding: 0;
}
.release-date span{
    display: inline-block;
    color: #ccc;
    padding-right: 10px;

}
.social-button {
    padding-top: 10px;
    margin: 0;
}
.social-button button{
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    background: #2f55a4;
    
}
.img-content img{
    width: 900px;
    padding: 10px 30px;
}
.text-content p{
    color: #777;
    font-size: 16px;
    font-family: "Battambang";
    text-align: justify;
    padding-right: 10px;
}
.author{
    display: flex;
    flex-direction: row;
    border: 1px solid #eee;
}

.profile{
    flex-wrap: wrap;
}
.profile img{
    width: 100px;
    background: #f2f3f5;
    padding: 20px;
}
.about-author{
    flex: 5;
}

.about-athor h4{
    color: #777;
    font-size: 18px;
    font-weight: bold;
    padding: 3px 10px;
}
.about-athor p{
    padding: 0 10px;
    color: #777;
    font-size: 12px;
    padding-right: 30px;
}
.advertise-buttom img{
    width: 1100px;
    padding: 10px 10px;
}
.form{
    background: #f2f3f5;
    border-top: 3px solid #da0000;
}
.form label{
    display: block;
    padding: 10px 20px;
}
.form label span{
    display: block;
    padding: 5px 0;
    font-family: "Battambang";
    font-size: 16px;
}
.form label input{
    width: 100%;
    background: none;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.form label textarea{
    width: 100%;
    background: none;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.form label button{
    background: #da0000;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 3px;
}
.form label input:focus{
    border: 1px solid #da0000;
    outline: none;
}
.form label textarea:focus{
    outline: none;
    border: 1px solid #da0000;
}
.related{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.related h3{
    font-size: 14px;
    line-height: 23px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    padding: 5px 5px; 
}
.related-post-item{
    flex: 1;
    margin-top: 10px;
}
.related-post {
    width: 370px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-end;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

.right {
    position: absolute;
    margin-left: 1680px;
}

.ads-footer {
    position: fixed;
    bottom: 0;
    z-index: 999999;
}

.ads-footer img {
    height: 130px;
    width: 100%;
}
span.comment{
    color: #da0000;
    font-family: "Battambang";
    font-size: 16px;
    font-weight: bold;
}
@media screen and (max-width:480px) {
    .ads-footer img {
        width: 100%;
        height: 90px;
    }
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.4);
    bottom: 0;
    padding: 5px 5px;
}
.carousel-caption:hover {
    color: #eb2504;
}


.contain-news{
    width: 1150px;
    border: 1px solid black;
    float: left;
    margin: 2px 10px;
}
/*My col */
.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{
   margin-left: -5px;
}

.search-box {
    border: solid 1px #fff;
    display: inline-block;
    position: relative;
    border-radius: 50px;
}

.search-box input[type="text"] {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    padding: 2px 2px 2px 2px;
    border: none;
    box-sizing: border-box;
    background: none;
    border-radius: 50px;
    transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
}

@media screen and (max-width: 480px) {
    .navbar-nav ul li {
        padding: 10px 0;
        display: block;
    }
    button.search{
        display: none;
    }
}
button.search {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    position: relative;
    z-index: 1;
    padding-right: 3px;
}

.header-search-control {
    opacity: 0;
    width: 50px;
    position: absolute;
    z-index: 10;
    border-radius: 20px;
    right: 0;
    transition-timing-function: ease-in-out;
    background: #f0f0f0;
    transition-duration: .55s;
    transition: all 0.3s;
    cursor: pointer;
    outline: none;
}
input[type="search"]{
    padding: 5px;  
    margin-right: 250px;
}
button.search{
    margin-right: 250px;
}
input[type="search"]:focus{
    outline: none;
    border: none;
}
.header-search-control:focus{
    transition: .3s;
    opacity: 1;
    width: 300px;
    z-index: 0;
    cursor: text;
    outline: none;
}
button.my-toggle{
    color: #fff !important;
    font-size: 22px;
}