@media (min-width:768px) and (max-width:991px) {
    .container-fluid{
     
    }
}

/* Banner */
@media (max-width: 414px){
  .banner-ads img{
    display: block;
    width: 380px;
  }

  .navbar-nav li {
    font-size: 16px;
    padding: 5px 5px;
    display: inline-block;
    text-align: left;
    border-bottom: 1px solid brown;
    }
  .navbar-nav li a{
    font-size: 12px;
  }

}